.calculadora {
    background: rgb(87, 0, 7);
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.calculadora input {
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 5px;
    padding: 4px;
}

#sptotal {
    background: black;
    color: blanchedalmond;
    border-radius: 5px;
    padding: 3px;
} 

.calculadora button {
    margin-top:10px;
    background: bisque;
    color: black;
    padding: 4px;
}

.calculadora button:hover  {
    background: rgb(149, 119, 81);
    color: black;
    cursor: pointer;
}

#splistaMeses {
    text-align: start;
    border-style: dotted;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    color: black;
    background: whitesmoke;
    margin-top: 10px;
    
}
